@import 'meyer-reset.css';

/* SETUP */
* {
    box-sizing: border-box;
}

picture {
    display: block;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

a {
    display: block;
    color: inherit;
    text-decoration: none;
}

p a, li a, {
    display: inline-block;
    color: blue;
    text-decoration: underline;
}

/* SETTINGS */

html {
    --black: #333;
    --color: rgb(60, 130, 246);
    --white: #efefef;
    --dark: rgb(31, 41, 55);
    --light: lighterblue;
    --main-header: #F9FAF8;
    --secondary: #E5E7EB;
    --information: #1f2937;
}



/* DEV STYLES */

/*body * {
    border: 1px solid blue;
    padding: 2px;
}
inner-column {
    border: 8px solid orange;
}
graphic-diptych {
    border: 8px solid dodgerblue;
}
header, footer, main {
    border: 3px solid red;   
}
section {
    border: 4px solid lime;
}*/

/* STRUCTURE */
body {
    display: flex;
    flex-direction: column;
	/*border: 10px solid blue;*/
    min-height: 100vh;
}

main {
	flex-grow: 1;
	/*border: 10px solid pink;*/
}

inner-column {
    display: block;
    padding: 10px;
    /**/
    width: 98%;
    max-width: 1100px;
    margin-right: auto;
    margin-left: auto;
    /**/
    padding-top: 10vh;
    padding-bottom: 10vh;
}

header inner-column {
    padding: 10px;
}

subheading {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
}


/* TYPOGRAPHY */
.loud-voice {
    font-family: "Roboto", sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 0.9;
}

@media {min-width: 700px;
    .loud-voice {
        font-size: 40px;
    }
}

.calm-voice {
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    line-height: 1.3;
}



/* COMPONENTS */
.button {
    font-family: "Roboto", sans-serif;
    display: inline-block;
    background-color: var(--color);
    color: white;
    font-size: 1.2rem;
    padding: 10px 20px;
    border-radius: 6px;
}

.button-center {
    text-align: center;
}

button {
    font-family: "Roboto", sans-serif;
    background-color: var(--color);
    color: white;
    font-size: 16px;
    padding: 10px 10px;
    border: none;
    border-radius: 6px;
}



/* MODULES */
header inner-column {
    padding: 10px;
    display: flex;
    align-content: center;
    justify-content: space-between;
    margin-top: 20px;
}

header inner-column h1 {
    color: var(--main-header);
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    font-weight: 700;
}

header inner-column ul {
    display: flex;
    list-style: none;
    margin-left: 15px;
    padding: 0;
    gap: 16px;
    color: var(--secondary);
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    flex-basis: auto;
}


graphic-diptych {
    display: block;
    display: flex;
    flex-direction: column;
    gap: 20px;

}

graphic-diptych picture {
    
}

graphic-diptych text-content {
    display: block;
}

graphic-diptych text-content p {

}

graphic-diptych text-content .button {
    margin-top: 10px;
}

graphic-diptych text-content .loud-voice {
    color: var(--main-header);
    font-size: 48px;
}

graphic-diptych text-content .calm-voice {
    color: var(--secondary);
    font-size: 18px;
}



@media (min-width: 700px) {
    graphic-diptych {
        flex-direction: row-reverse;
    }
    graphic-diptych :is(text-content, picture) {
        flex-basis: 50%
        
    }
}

products-grid {
    display: block;
    margin: 20px 80px;
}

products-grid h2 {
    font-family: "Roboto", sans-serif;
    color: var(--information);
    font-size: 36px;
    font-weight: 700;
}

products-grid .product-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 1em;
}

products-grid text-content h3 {
    font-family: "Roboto", sans-serif;
    display: block;
    text-align: center;
    margin: 10px;
    color: var(--information);
}



.quote {
    padding: 20px 80px;
}

.quote p {
    font-family: "Roboto", sans-serif;
    font-size: 36px;
    color: #1f2937;
    font-weight: 100;
    font-style: italic;
    margin-bottom: 20px;
    text-align: left;
}

.quote a {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: #1f2937;
    font-weight: 900;
    text-align: right;   
}

call-to-action {
    display: flex;
    flex-direction: row;
    padding: 20px 80px;
    background-clip: border-box;
    background-color: var(--color);
    margin: 40px 100px;
    border-radius: 6px;
}

call-to-action .container {
    font-family: "Roboto", sans-serif;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    margin-right: 15px;
}

call-to-action .container h2 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 5px;
    color: var(--main-header);   
}

call-to-action .container p {
    color: var(--secondary);
    font-weight: 100;
    font-size: 10px;  
}

call-to-action .button {
    font-size: 10px;
    display: inline-block;
    text-align: center;
    border: 2px solid;
    border-color: var(--main-header);
    border-radius: 6px;
    padding: 10px 10px;
    font-weight: 700;
}

footer {
    background-color: #1f2937;
    color: var(--secondary);
    font-size: 10px;
    text-align: center;
    
}

footer inner-column {
    padding: 30px;
}

@media (max-width: 600px) {
    call-to-action {
        flex-direction: column;
    }

}



header {
    background-color: var(--dark);
}

.welcome {
    background-color: var(--dark);
    
}

.welcome .button {
    background-color: var(--color);
    color: var(--main-header)
}

.quote {
    background-color: var(--secondary);
}





